body {
  font-family: 'Zilla Slab', serif;
  transition: background-color .5s;
}


/*map*/

#mapholder {
  position: absolute;
}


/*sidenav menu*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #363234;*/
  background-color: #425239;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 60px;
  color: #818181;
  display: block;
  transition: 0.3s;
  /*text-align: center;*/
  margin-left: 15%;
  margin-top: 20px;
  ;
  ;
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

u {
  color: #757555;
}

.menuItems {
  margin-top: 10vh;
}

.logoMark {
  height: 80px;
  width: 80px;
  background-position: center;
  /*margin-right: 50%;*/
  /*margin-left: 50%;*/
  margin-top: 120px;
}

.icon {
  float: left;
  padding: 8px 8px 8px 32px;
  font-size: 60px;
  display: block;
  transition: 0.3s;
  text-align: center;
  margin-top: auto;
  margin-right: 2vw;
}


/*
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}*/


/*top nav*/

#main {
  background-color: #f4efe6;
  /*border-style: solid;*/
  border-bottom: solid #dedcd9;
  border-width: thin;
  color: #ccb48d;
  transition: margin-left .5s;
  height: 10vh;
  padding-left: 10px;
  width: 100vw;
}

.upperRight {
  float: right;
  color: #ccb48d;
  font-size: 18px;
  padding-right: 10px;
}

.upperRight2 {
  float: right;
  color: #ccb48d;
  font-size: 18px;
  margin-top: 30px;
  padding-right: 10px;
}

.logOut {
  margin-top: 200px;
}

.closebtn {
  cursor: pointer;
}


/*headers*/

h1 {
  text-align: center;
  margin: 50px;
  font-family: 'Zilla Slab', serif;
}

h5 {
  font-style: italic;
  font-weight: 400;
  color: #a29f9a;
}

h3 {
  font-family: 'Zilla Slab', serif;
}

h2 {
  font-family: 'Zilla Slab', serif;
}


/*login page*/

.loginHeader {
  font-size: 72px;
  margin: 100px;
  padding: 50px;
  text-align: center;
  color: #757555;
}

.loginUser {
  font-size: 20px;
}

.loginPass {
  /*height: 25px;*/
  font-size: 20px;
}

#loginPage {
  text-align: center;
  margin: 20px;
}

.footer {
  margin: 100px;
  text-align: center;
}


/*
.messageInput {
  height: 50px;
  width: 920px;
  font-size: 20px;
  margin: 30px;
  margin-left: 200px;
}*/


/*mapIt page*/


/*right side mapit*/

.rightSide {
  width: 15vw;
  height: 90vh;
  background-color: #f4efe6;
  float: right;
  border-left: solid #dedcd9;
  border-width: thin;
}

.info {
  padding: 10px;
  margin: 10px;
}

.uploadDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.type {
  margin-bottom: 20px;
}


/*add map marker button*/

.instruction {
  margin-top: 30px;
}

.add {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  font-family: 'Zilla Slab', serif;
  background-image: url('https://cdn3.iconfinder.com/data/icons/shopping-and-market/512/pin_marker_location_mark_navigation_flat_icon-512.png');
  background-size: cover;
  border: none;
  background-color: transparent;
}

.add:hover {
  opacity: 0.3;
}


/*map it text under button*/

.mapItText {
  margin-top: 100px;
}


/*add image button*/

.upload {
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  color: #757555;
}


/*right side button div*/

.addMapBtn {
  float: right;
  margin-right: 20px;
  text-align: center;
  font-family: 'Zilla Slab', serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
  color: #757555;
}


/*.spinner {
        height: 150px;
        width: 150px;
        position: absolute;
        background-image: url('https://maxcdn.icons8.com/office/PNG/512/Food/mushroom-512.png');
        background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: spin 1s infinite;
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }*/


/*loading gif*/

.spinner {
  height: 300px;
  width: 300px;
  position: absolute;
  background-image: url('https://media.giphy.com/media/YPGwuiDVEQJfG/giphy.gif');
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/*marker window*/

.title {
  border: none;
  font-family: 'Zilla Slab', serif;
  font-size: 16px;
  height: 50px;
  padding: 10px;
  margin: 5px;
}

.markerInfo {
  font-family: 'Zilla Slab', serif;
  text-align: center;
}

.markerBox {
  max-width: 300px;
  text-align: center;
}

.markerImg {
  height: 150px;
  width: 150px;
}


/*.addComment {
  float: right;
  margin-right: 300px;
}*/

.addComment:hover {
  opacity: 0.5;
}

.mapInfo {
  float: right;
  margin-top: 40px;
}

.type {
  cursor: pointer;
}

.deleteMarkBtn {
  float: right;
}

.deleteBtn {
  height: 20px;
  width: 80px;
  font-size: 16px;
}

.deleteBtn:hover {
  opacity: 0.5;
}


/*images on list page */

.uploadImg {
  /*height: 275px;
  width: 275px;*/
  margin-top: 15vh;
  width: 70vw;
  height: 60vh;
  /*margin: 10px;
  padding: 20px;*/
  background-color: #f4efe6;
  margin-left: 15vw;
  margin-right: 15vw;
}

@media {}

.textInfo {
  max-width: 70vw;
  margin: auto;
  text-align: center;
  font-family: 'Zilla Slab', serif;
}

.archive {
  font-size: 32px;
}

.archive2 {
  font-size: 42px;
}


/*carousel*/

.fa-chevron-circle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  color: #ccb48d;
  margin-right: auto;
}

.fa-chevron-circle-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  color: #ccb48d;
  margin-left: auto;
}

.carousel-indicators {
  display: none;
}

.fa-times-circle-o {
  position: absolute;
  color: #984234;
}

.carousel-inner {
  width: 100vw
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.imageLoop {
  margin-top: 10vh;
}


/*resource page*/

.links {
  text-align: center;
}

.resource {
  font-size: 52px;
}

.tech {
  font-size: 52px;
  text-align: center;
}

li {
  font-size: 36px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.thanks {
  text-align: center;
  margin-top: 5vh;
}
