body {
  font-family: 'Lato', sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #363234;*/
  background-color: #425239;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

u {
  color: #757555;
}

.logoMark {
  height: 80px;
  width: 80px;
  background-position: center;
  margin-right: 47.5px;
  margin-left: 40.5px;
  margin-top: 120px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


/*before adding menu icon nav bar*/

h1 {
  text-align: center;
  margin: 50px;
}

.loginHeader {
  font-size: 72px;
  margin: 100px;
  padding: 50px;
  text-align: center;
  color: #757555;
}

.loginUser {
  font-size: 20px;
}

.loginPass {
  /*height: 25px;*/
  font-size: 20px;
}

#loginPage {
  text-align: center;
  margin: 20px;
}

.footer {
  margin: 100px;
  text-align: center;
}

.messageInput {
  height: 50px;
  width: 920px;
  font-size: 20px;
  margin: 30px;
  margin-left: 200px;
}

.returnBtn {
  height: 25px;
  width: 100px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  margin-left: 100px;
  float: left;
}

.findbtn {
  height: 80px;
  width: 300px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding: 20px 20px;
}

.mapBtnImg {
  float: left;
  margin: 10px;
  height: 40px;
}

#mapholder {
  position: absolute;
}

.add {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  font-family: 'Lato', sans-serif;
  background-image: url('https://lh3.googleusercontent.com/UeIB6zS0pu3IBAcQZrPXPoQ-2zyT-YL6CnvEHqgix90goqPe74LbqYwrrvD2yJXTVw=w300');
  background-size: cover;
  border: none;
}

.add:hover {
  opacity: 0.3;
}

.addMapBtn {
  float: right;
  margin-right: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
}


/*.spinner {
        height: 150px;
        width: 150px;
        position: absolute;
        background-image: url('https://maxcdn.icons8.com/office/PNG/512/Food/mushroom-512.png');
        background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: spin 1s infinite;
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }*/

.spinner {
  height: 300px;
  width: 300px;
  position: absolute;
  background-image: url('https://media.giphy.com/media/YPGwuiDVEQJfG/giphy.gif');
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.title {
  border: none;
  font-size: 16px;
  height: 50px;
  padding: 10px;
  margin: 5px;
}

li {
  font-size: 22px;
  color: white;
}

.addComment {
  float: right;
  margin-right: 300px;
}

.addComment:hover {
  opacity: 0.5;
}

.mapInfo {
  float: right;
  margin-top: 40px;
}

.type {
  cursor: pointer;
}

.deleteMarkBtn {
  float: right;
}

.listItems {
  height: 275px;
  width: 275px;
  background-color: #A88151;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.deleteBtn {
  height: 20px;
  width: 80px;
  font-size: 16px;
}

.deleteBtn:hover {
  opacity: 0.5;
}

.instruction {
  margin-top: 30px;
}

#main {
  background-color: #f4efe6;
  /*border-style: solid;*/
  border-bottom: solid #dedcd9;
  border-width: thin;
  color: #ccb48d;
  transition: margin-left .5s;
  /*padding: 16px;*/
  height: 10vh;
  padding-left: 10px;
}

.upperRight {
  float: right;
  color: #ccb48d;
  font-size: 18px;
  padding-right: 10px;
}

.upperRight2 {
  float: right;
  color: #ccb48d;
  font-size: 18px;
  margin-top: 30px;
  padding-right: 10px;
}


/*#main {*/


/*background-color: #757555;*/


/*color: #363234;
  height: 80px;
}*/

.logOut {
  margin-top: 200px;
}

.closebtn {
  cursor: pointer;
}

.uploadImg {
  height: 275px;
  width: 275px;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.rightSide {
  width: 15vw;
  height: 90vh;
  background-color: #425239;
  float: right;
}

.glyphicon-chevron-left {
  background-color: black;
  display: none;
  background-image: url('https://image.flaticon.com/icons/png/512/0/340.png');
}

.glyphicon-chevron-right {
  background-color: black;
}

.info {
  padding: 10px;
  margin: 10px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(vendors/glyphicons-halflings-regular.ttf);
}

.fa-chevron-circle-right {
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  /*margin-top: -10px;*/
}

.fa-chevron-circle-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}

.imageLoop {
  margin: 20px;
}

.carousel-indicators {
  display: none;
  background-color: black;
}

.fa-times-circle-o {
  position: absolute;
  color: #984234;
}
