<div id="mySidenav" class="sidenav">
  <a class="closebtn" onclick="closeNav()">&times;</a>


  <div class="menuItems">


    <a href="#!/mapIt"><i class="fa fa-map-marker icon" aria-hidden="true"></i>Map It</a>
    <a href="#!/finds"><i class="fa fa-map icon" aria-hidden="true"></i>Finds</a>
    <a href="#!/archive"><u><i class="fa fa-leaf icon" aria-hidden="true"></i>Archive</u></a>
    <a href="#!/list"><i class="fa fa-picture-o icon" aria-hidden="true"></i>Gallery</a>
    <a href="#!/links"><i class="fa fa-external-link icon" aria-hidden="true"></i>Resources</a>
  </div>
  <i><img class='logoMark' src="images/ff_sidenav_final.png" alt=""></i>
</div>

<div id="main" img src="images/ff_header_v1.png">
  <span class='menuIcon' onclick="openNav()"><i class="fa fa-bars fa-5x" aria-hidden="true"></i></span>
  <a class='upperRight' href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>

  <div ng-init='fc.getItems()'>

    <div ng-repeat='map in fc.maps' ng-class='fc.mode'>
      <button ng-click='mc.deleteMarker(map._id); fc.getItems()' class="fa fa-trash fa-3x deleteList" aria-hidden="true"></button>

      <img ng-src="{{map.img}}" class='uploadImg' src='images/ff_default_675x675.png'>

      <div class="textInfo">
        <button class="upload" ng-click="fc.showPicker()" ng-show="map.img === undefined"><i class="fa fa-picture-o" aria-hidden="true" ng-show="map.img === undefined"></i> <u>Upload</u></button>
        <!-- <i class="fa fa-picture-o fa-3x upload" aria-hidden="true" ng-show="map.img === undefined" ng-click="fc.showPicker()">Add</i> -->
        <!-- <button ng-show="map.img === undefined" class="upload" ng-click="fc.showPicker()">Add Image</button> -->
        <h5 class='archive'>{{map.timeStamp | date}} </h5>
        <h4 class='archive2'>{{map.title}}</h4>
        <h5 class='archive'>{{map.city}}</h5>
        <h5 class='archive'>Lat: {{map.lat | number}}  Long: {{map.lon | number}}</h5>
        <h4 class='archive'>Category: {{map.options}}</h4>
      </div>
    </div>

  </div>

</div>
