<div id="mySidenav" class="sidenav">
  <a class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#!/mapIt">Map It</a>
  <a href="#!/finds">Profile</a>
  <a href="#!/chat"><u>Chat</u></a>
  <a href="#!/list">List</a>
  <div class='logOut'>
    <a href="#">Log Out</a>
  </div>
</div>

<div id="main">

  <span style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776; </span>
</div>


<div class="messageBox">
  <textarea rows="4" cols="20" class="messageInput" type="text" ng-model="cc.body" placeholder="Enter Message"></textarea>
  <div class="addBtn">
    <button class='addComment' ng-click='cc.sendMessage()' type="button" name="button">Add Comment</button>
  </div>
</div>
<div ng-init='cc.getMessages()'>

  <h3 ng-repeat='message in cc.messages'>
    {{fc.loggedInUser | uppercase}} - {{ message.body }}
    <button ng-click='cc.deleteMessage(message._id)' class='deleteBtn' type="button" name="button">Delete</button>
  <!-- <input ng-model='cc.reply' type="text" placeholder="Reply"><button type="button" name="button">Reply</button> -->
  <!-- <button class="likeButton" type="button" ng-click='cc.like(entry)'> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/70801-200.png" class="thumb">
</button>
<p>{{mess.likes}} Likes</p> -->
  </h3>
</div>
