<div class="mapHeader" ng-init="mc.getItems()">
</div>
<div id="mySidenav" class="sidenav">
  <a class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#!/mapIt">Map It</a>
  <a href="#!/finds"><u>Profile</u></a>
  <a href="#!/chat">Chat</a>
  <a href="#!/list">List</a>
  <div class='logOut'>
    <a href="#">Log Out</a>
  </div>
</div>

<div id="main">

  <span style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776; </span>
</div>




<div id="mapholder"></div>


<!-- <div class="yourMaps" ng-repeat='map in fc.maps'>



    {{map.lat}} {{map.lon}}


  </div> -->
<!-- </div> -->
