<!-- <div class="homeheader">
  <button class="logoutBtn" ng-click='fc.logOut()'>Log Out</button>
  <h1>{{fc.loggedInUser | uppercase}}'S PROFILE</h1>
</div>
<div class="topBtns">
  <a href='/#!/finds'><button ng-click='fc.finds()' type="button" class='findsbtn'>YOUR FINDS</button></a>
  <a href='/#!/chat'><button ng-click='fc.message()' type="button" class='chatbtn'>MESSAGE BOARD</button></a>
</div>
<div class="mapFind">
  <a href='/#!/mapIt'><button ng-click='fc.getLocation()' type="button" class='findbtn'><img class="mapBtnImg" ng-src="https://cdn2.iconfinder.com/data/icons/navigation-location/512/route_pin_gps_locate_location_map_marker_navigate_navigation_plan_road_-512.png">MAP NEW FIND</button></a>
</div> -->
