<div id="mySidenav" class="sidenav">
  <div class="menuItems">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#!/mapIt"><i class="fa fa-map-marker icon" aria-hidden="true"></i>Map It</a>
    <a href="#!/finds"><i class="fa fa-map icon" aria-hidden="true"></i>Finds</a>
    <a href="#!/archive"><i class="fa fa-leaf icon" aria-hidden="true"></i>Archive</u></a>
    <a href="#!/list"><i class="fa fa-picture-o icon" aria-hidden="true"></i>Gallery</a>
    <a href="#!/links"><u><i class="fa fa-external-link icon" aria-hidden="true"></i>Resources</u></a>
  </div>
  <i><img class='logoMark' src="images/ff_sidenav_final.png" alt=""></i>
</div>
<div id="main">

  <span class='menuIcon' onclick="openNav()"><i class="fa fa-bars fa-5x" aria-hidden="true"></i></span>
  <a class='upperRight' href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
  <!-- <a class='upperRight2' href="#">Log In</a> -->
</div>






<!--
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6"> -->

<div class="links">
  <h1 class='resource'>Resources</h1>
  <hr>

  <h2><a href="http://www.foragersharvest.com/">Forager's Harvest</a></h2>
  <h2><a href="https://www.wildedible.com/">Wild Edible</a></h2>
  <h2><a href="  http://www.artofmanliness.com/2010/10/06/surviving-in-the-wild-19-common-edible-plants/">Common Edible Plants</a></h2>
  <h2><a href="http://www.projectnoah.org/missions/19004093">Minnesota Edible and Medicinal Plants</a></h2>
  <h2><a href="http://www.namyco.org/">North American Mycological Association</a></h2>
  <h2><a href="http://americanmushrooms.com/">American Mushrooms</a></h2>
  <h2><a href="http://foraging.com/">Foraging Pictures</a></h2>
  <hr>
</div>

<div class="row prime">
  <div class="col-md-6 tech">
    <h1 class='tech'>Tech:</h1>
    <h3>MEAN STACK<h4>(MongoDB, ExpressJS, AngularJS, Node.js)</h3>
    <h3>Google Maps API</h3>
    <h3>Filestack API</h3>
    <h3>UI Bootstrap</h3>
    <h3>SweetAlert2</h3>
  </div>

  <div class="col-md-6">
    <div class="thanks">
      <h1 class='resource'>Thank You!</h1>
      <h3>Instructors</h3>
      <h4>(Dev, Scott, Huck)</h4>
      <h3>ΩMEGABYTES</h3>
      <h3>Prime Digital Academy</h3>
    </div>

  </div>
</div>
<hr>
<div class="links">
  <h3>Logo, advice and support by <a href="http://beccaneely.com/">Becca Neely</a></h2>
</div>
