<div id="mySidenav" class="sidenav">
  <a class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#!/mapIt"><i class="fa fa-map-marker icon" aria-hidden="true"></i>Map It</a>
  <a href="#!/finds"><i class="fa fa-map icon" aria-hidden="true"></i>Profile</a>
  <a href="#!/chat"><i class="fa fa-list-alt icon" aria-hidden="true"></i>List</u></a>
  <a href="#!/list"><i class="fa fa-picture-o icon" aria-hidden="true"></i>Gallery</a>
  <a href="#!/links"><u><i class="fa fa-external-link icon" aria-hidden="true"></i>Links</u></a>
  <img class='logoMark' src="images/Asset 2.png" alt="">
</div>

<div id="main">

  <span class='menuIcon' style="font-size:52px;cursor:pointer" onclick="openNav()">&#9776; </span>
  <a class='upperRight' href="#">Log Out</a>
  <!-- <a class='upperRight2' href="#">Log In</a> -->
</div>






<div class="links">
  <h1>Helpful Links</h2>
  <h3><a href="http://www.foragersharvest.com/">Forager's Harvest</a></h3>
  <h3><a href="http://americanmushrooms.com/">American Mushroms</a></h3>
  <h3><a href="http://foraging.com/">Foraging</a></h3>
  <h3><a href="http://foragingpictures.com/#E">Picture Database</a></h3>

</div>
