<div id="mySidenav" class="sidenav">
  <a class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#!/mapIt">Map It</a>
  <a href="#!/finds">Profile</a>
  <a href="#!/chat">Chat</a>
  <a href="#!/list"><u>List</u></a>
  <div class='logOut'>
    <a href="#">Log Out</a>
  </div>
</div>

<div id="main">

  <span style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776; </span>
</div>










<div class="list">
  <div class="container">
    <div class="col-md-4 listItems" ng-repeat='map in fc.maps'>
      <h3>Date: {{map.timeStamp | date}}</h3>
      <h4>Description: {{map.title | filter:searchText}}</h4>
      <h4>Sharing: {{map.options}}</h4>
      <h4>City: {{map.city}}</h4>
      <h5>Lat: {{map.lat | number}}  Long: {{map.lon | number}}</h5>
    </div>
    <!-- <input type="file" accept="image/*" capture="camera"> -->
  </div>
</div>
