<div id="mySidenav" class="sidenav">
  <a class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#!/mapIt"><i class="fa fa-map-marker icon" aria-hidden="true"></i>Map It</a>
  <a href="#!/finds"><i class="fa fa-map icon" aria-hidden="true"></i>Profile</a>
  <a href="#!/chat"><i class="fa fa-list-alt icon" aria-hidden="true"></i></i>List</a>
  <a href="#!/list"><u><i class="fa fa-picture-o icon" aria-hidden="true"></i>Gallery</u></a>
  <img class='logoMark' src="images/Asset 2.png" alt="">
  <!-- <div class='logOut'>
    <a href="#">Log Out</a>
  </div> -->
</div>

<div id="main">



  <span class='menuIcon' style="font-size:72px;cursor:pointer" onclick="openNav()">&#9776; </span>
  <a class='upperRight' href="#">Log Out</a>
  <!-- <a class='upperRight2' href="#">Log In</a> -->
  <!-- <div class="listView">
    <a href="#!chat"><i class="fa fa-list-alt" aria-hidden="true"></i> List View</a>
  </div> -->
</div>

<!-- <div class="list">
  <div class="container">
    <div class="col-md-4 listItems" ng-repeat='map in fc.maps'>
      <h3>Date: {{map.timeStamp | date}}</h3>
      <h4>Description: {{map.title | filter:searchText}}</h4>
      <h4>Sharing: {{map.options}}</h4>
      <h4>City: {{map.city}}</h4>
      <h5>Lat: {{map.lat | number}}  Long: {{map.lon | number}}</h5>
      <img ng-src="{{map.img}}" class='uploadImg'>
    </div>
  </div>
</div> -->
<!-- class="col-md-4 listItems" -->

<!-- Before Carousel -->
<!-- <div class='col-md-4' ng-repeat='map in fc.maps'>
  <img ng-src="{{map.img}}" class='uploadImg'>
  <h4>Date: {{map.timeStamp | date}} </h4>
  <h4>Notes: {{map.title}} </h4>
  <h4>City: {{map.city}} </h4>
  <h5>Lat: {{map.lat | number}}  Long: {{map.lon | number}}</h5>
  <button ng-click='mc.deleteMarker(map._id); fc.getItems()' type="button" name="button">Delete</button>

</div> -->





<div class='pageSize' ng-init='fc.getItems()' style="height: 100vh">

  <div uib-carousel active="true" interval="3000" no-wrap="false">
    <div class='imageLoop' uib-slide="" active="map.active" ng-repeat="map in fc.maps" index="$index">
      <img ng-src="{{map.img}}" style="margin:auto; height:675px; width:675px;" />
      <i ng-click='mc.deleteMarker(map._id); fc.getItems()' class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
      <div class='info'>
        <h4>{{map.title}} </h4>
        <h4>Date: {{map.timeStamp | date}} </h4>
        <h5>City: {{map.city}} </h5>
        <h5>Lat: {{map.lat | number}}  Long: {{map.lon | number}}</h5>

      </div>

    </div>

  </div>


</div>
