<div id="mySidenav" class="sidenav">
  <a class="closebtn" onclick="closeNav()">&times;</a>


  <div class="menuItems">


    <a><i class="fa fa-map-marker icon" aria-hidden="true"></i>Map It</a>
    <a><i class="fa fa-map icon" aria-hidden="true"></i>Finds</a>
    <a><u><i class="fa fa-leaf icon" aria-hidden="true"></i>Archive</u></a>
    <a><i class="fa fa-picture-o icon" aria-hidden="true"></i>Gallery</a>
    <a><i class="fa fa-external-link icon" aria-hidden="true"></i>Resources</a>
  </div>


  <!-- <div class='logOut'>
    <a href="#">Log Out</a>
  </div> -->
</div>

<div id="main2">
  <!-- <span class='menuIcon'><i class="fa fa-bars fa-5x" aria-hidden="true"></i></span> -->
</div>




<div class="appName">

  <div id="loginPage">
    <i class="fa fa-envelope fa-2x logIcon" aria-hidden="true" ng-hide="fc.loginToggle"></i><input class="loginUser1" ng-hide="fc.loginToggle" type="text" name="" placeholder="email address">
  </div>
  <div id="loginPage">
    <i class="fa fa-user-plus fa-2x logIcon" aria-hidden="true"></i><input class="loginUser" type="text" ng-model="fc.username" placeholder="username">
  </div>

  <!-- <div id="loginPage">
      <input class="loginUser" ng-hide="fc.loginToggle" type="text" name="" placeholder="Name">
    </div> -->

  <div id="loginPage">
    <i class="fa fa-unlock-alt fa-2x logIcon" aria-hidden="true"></i><input class="loginPass" type="password" ng-model="fc.password" placeholder="password">
  </div>
  <div id="loginPage">
    <i class="fa fa-lock fa-2x logIcon" aria-hidden="true" ng-hide="fc.loginToggle"></i><input class="loginUser2" ng-hide="fc.loginToggle" type="password" name="" placeholder="confirm password">
  </div>
  <div id="loginPage">
    <i class="fa fa-sign-in logIcon" aria-hidden="true"></i><button class="btnLogin" ng-show="fc.loginToggle" type="submit" name="button" ng-click='fc.logIn()'>Login</button>
    <button class="btnLogin" ng-hide="fc.loginToggle" type="submit" name="button" ng-click="fc.register()">Register</button>
  </div>
  <div id="loginPage">
    <a href="/#!" ng-show="fc.loginToggle" ng-click="fc.toggleLogin()">Register</a>
    <a href="/#!" ng-hide="fc.loginToggle" ng-click="fc.toggleLogin()">Login</a>


  </div>
  <div class="footer">

    <hr>
    <footer>Found Forage is NOT a identification tool.</footer>
    <footer>DO NOT consume wild edibles unless ABSOLUTELY certain of positive identification! </footer>
    <footer>Enjoy nature and all that is has to offer.</footer>
  </div>
  <img src="images/ff_default_675x675.png" alt="" class='loginLogo'>
</div>
