<!-- loading spinner -->

<div ng-if='fc.spinnerToggle' class="spinner"></div>

<div class="mapHeader">


  <h1>MAP IT</h1>
  <button class="logoutBtn" ng-click='fc.logOut()'>Log Out</button>
  <button class="returnBtn" ng-click='fc.returnHome()'>Home</button>
</div>

<div ng-init="fc.getLocation()" id="mapholder">

</div>
<p>asdf: {{ fc.title }}</p>

<div class="mapInfo">
  <select class="type" name="">
  <option value="private">Private</option>
<option value="public">Public</option>
</select>
  <input ng-model='fc.info' type="text" class='notes' placeholder="Notes">
  <button ng-click='fc.postItem()' type="button" class='add'>MAP IT</button>
</div>
