<!-- loading spinner -->
<div ng-if='fc.spinnerToggle' class="spinner"></div>
<div class="mapHeader">

  <div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#!/mapIt"><u><i class="fa fa-map-marker icon" aria-hidden="true"></i>Map It</u></a>
    <a href="#!/finds"><i class="fa fa-map icon" aria-hidden="true"></i>Profile</a>
    <a href="#!/chat"><i class="fa fa-list-alt icon" aria-hidden="true"></i></i>List</a>
    <a href="#!/list"><i class="fa fa-picture-o icon" aria-hidden="true"></i>Gallery</a>
    <img class='logoMark' src="images/Asset 2.png" alt="">
    <!-- <div class='logOut'>
      <a href="#">Log Out</a>
    </div> -->
  </div>

  <div id="main">

    <span class='menuIcon' style="font-size:72px;cursor:pointer" onclick="openNav()">&#9776; </span>

    <a class='upperRight' href="#">Log Out</a>
    <a class='upperRight2' href="#">Log In</a>
  </div>


  <div id="mapholder" ng-init="fc.getLocation()">

  </div>



  <!-- <input ng-model='fc.info' type="text" class='notes' placeholder="Notes"> -->


  <div class="rightSide">
    <div class="addMapBtn">
      <h4 class='instruction'>Click the marker to add notes</h4>
      <button ng-click='fc.postItem()' type="button" class='add'><p class='mapItText'>MAP IT</p></button>
      <!-- <p>MAP IT</p> -->
      <div class="mapInfo">
        <select ng-model='fc.mode' class="type" placeholder='mode' name="">
      <option value="" disabled selected>Category</option>
    <option selected value="Edible">Edible</option>
  <option value="Non-Edible">Non-Edible</option>
  </select>

        <!-- <img ng-src="{{map.img}}" class='uploadImg'> -->
      </div>
      <button class="upload" ng-click="fc.showPicker()">Add Image</button>
    </div>
  </div>
